@model MvcFirstApp.Models.Movie
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @* Ceating the new movie record *@
    <div class="container">
        <br>
        <div class="card border-primary">
            <div class="col-md-6 card-body offset-3">
                    <form asp-controller="Home" asp-action="Create" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <hr />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label class="control-label col-md-6" asp-for="Title"></label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.Title" class="form-control" />
                                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-6" asp-for="MovieType"></label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.MovieType" class="form-control" />
                                    <span asp-validation-for="@Model.MovieType" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-6" asp-for="MovieStar"></label>
                                <div class="col-md-10">
                                    <input asp-for="@Model.MovieStar" class="form-control" />
                                    <span asp-validation-for="@Model.MovieStar" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a asp-action="Index" class="btn btn-danger">Cancel</a>
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </div>
                            </div>

                        </div>
                    </form>
            </div>
        </div>
    </div>

</body>
</html>